.livePreview{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    z-index: 4;
    margin-top: 50px;
    margin-right: 20px;
    box-shadow: 5px 10px 15px 5px #333;
}

.livePreviewImageContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    background-color: white;
    z-index: 4;
    box-shadow: 5px 10px 15px 5px #333;
}

.livePreviewImage{
    width: 200px;
    height: 200px;
    object-fit: cover;
}