.emailVerificationPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
    /* background-color: black; */
    border-radius: 10px;
    overflow: hidden;
}

.emailVerificationPage::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 200%;
  height: 300%;
  background:linear-gradient(transparent,#b6be13,#b6be13,#b6be13, #b6be13,transparent, transparent,transparent );
  /* background-color:#0fb7ff; */
  transform:rotate(-45deg);
  top: -820px;
  left: -750px;
  z-index: 1;
  transition: all 500ms;
  transform-origin: left;
  animation: borderAnimationForm 10s linear infinite;
}

@keyframes borderAnimationForm {
    0%{
        top: -820px;
        left: -750px;  
    }100%{
        top: 750px;
        left: 770px;
    }
}


.emailVerificationPageContainer {
    inset: 2px;
    background-color: #303030;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    border-radius: 10px;
    transition: all 300ms;
    font-family: bodyFont;
}

.emailVerificationPageContainer h2 {
    color: white;
    text-align: center;
    font-family: headingFont;
    font-size: 2em;
    margin-top: 10px;
}

.codeInputBoxes {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.inputBoxEmailCode {
    position: relative;
    width: 40px;
}

.inputBoxEmailCode input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1.5em;
    background-color: #303030;
    border: 1px solid #b6be13;
}

.inputBoxEmailCode input:focus {
    border-color: #b6be13;
    background-color: #404040;
}

.errorMessage {
    color: red;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.submitBtn {
    border: none;
    outline: none;
    background-color: #303030;
    color: white;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #b6be13;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: all 300ms;
}

.submitBtn:hover {
    background-color: #b6be13;
    color: black;
    filter: drop-shadow(0px 0px 10px #b6be13);
}
